[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
fastapi-restful = {extras = ["all"], version = "*"}
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
deta = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
